@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: NanumGothic, '나눔고딕', NanumGothicWeb, "Malgun Gothic", Gulim,
		sans-serif;
	background: #fff;
	font-size: 15px;
}

#admin{
	position: fixed;
	left: 40px;
}
#contents div {
	margin: 10px 0;
}

.button {
	display: inline-block;
	padding: 8px 12px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #e7e7e7;
	color: black;
	border: none;
	border-radius: 15px;
}


.button:hover {
	background-color: #296EE8;
	color: #fff;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.padding-left { padding-left: 10px; }
.color-red { color: #FF0000; }
.color-green { color: #6cbc42; }
.color-blue { color: #0080c5; }