@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: NanumGothic, '나눔고딕', NanumGothicWeb, "Malgun Gothic", Gulim,
		sans-serif;
	background: #fff;
	font-size: 15px;
}

#contents div {
	margin: auto;
}

.profile {
	border-collapse: collapse;
	border: 1px solid black;
	background-color: #fff;
}

th, td {
	text-align: left;
	padding: 6px;
}
