@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: NanumGothic, '나눔고딕', NanumGothicWeb, "Malgun Gothic", Gulim, sans-serif;
	background: #fff;
	font-size: 15px;
}

#contents div {
	margin: 10px 0;
}


h1 {
	text-align: center;
}

legend {
	font-size: 20px;
	text-align: left;
}

fieldset {
	margin: auto;
	width: 850;
}

#title {
	margin: auto;
	text-align: center;
	margin-top: 80px
}

table{
	margin: auto;
	cellpadding :30;
}



.button {
	display: inline-block;
	padding: 8px 12px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #e7e7e7;
	color: black;
	border: none;
	border-radius: 15px;
}


.button:hover {
	background-color: #296EE8;
	color: #fff;
}